In [17]:
import pandas as pd

In [2]:
data= pd.read_excel("customer+performance+additional.xlsx")

In [9]:
numeric_data = data.select_dtypes(include=['number']).columns

In [10]:
numeric_data

Index(['Age', 'Income', 'Frequency_of_Purchases', 'Average_Purchase_Amount',
       'Recency', 'Frequency_Score', 'Monetary_Score'],
      dtype='object')

In [15]:
round(data[numeric_data].corr(),3)

,Age,Income,Frequency_of_Purchases,Average_Purchase_Amount,Recency,Frequency_Score,Monetary_Score
Age,1.000,0.127,0.311,0.072,-0.041,-0.014,0.056
Income,0.127,1.000,-0.033,-0.009,0.159,0.137,0.137
Frequency_of_Purchases,0.311,-0.033,1.000,0.050,-0.025,-0.041,-0.044
Average_Purchase_Amount,0.072,-0.009,0.050,1.000,-0.140,-0.142,-0.134
Recency,-0.041,0.159,-0.025,-0.140,1.000,0.769,0.751
Frequency_Score,-0.014,0.137,-0.041,-0.142,0.769,1.000,0.826
Monetary_Score,0.056,0.137,-0.044,-0.134,0.751,0.826,1.000