In [1]:
import pandas as pd
import numpy as numpy

In [4]:
data = pd.read_excel("customer_data1.xlsx")

In [13]:
dup_data=data.duplicated()

In [14]:
data[dup_data]

Empty DataFrame
Columns: [CustomerID, Gender, Age, Income, City, Region, Frequency_of_Purchases, Average_Purchase_Amount, Customer_Lifespan_Months, Purchase_Channel, Date_of_Purchase, Churn_Status]
Index: []

In [12]:
data.drop_duplicates(inplace=True)