In [1]:
import pandas as pd

In [2]:
data=pd.read_excel("customer_data.xlsx")

In [3]:
data2=pd.read_excel("performance_data.xlsx")
data2.head()

  CustomerID  Recency  Frequency_Score  Monetary_Score
0       C001        3                2               2
1       C002        3                3               3
2       C003        4                4               4
3       C004        2                2               2
4       C005        1                1               1

In [4]:
joining_horizontally =pd.merge(data,data2,on="CustomerID",how="inner")

In [9]:
joining_horizontally.to_excel("customer_data+performance.xlsx",index=False)