In [1]:
import pandas as pd

In [2]:
data =pd.read_excel("customer+performance+additional.xlsx")

In [3]:
data.head()

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status,Recency,Frequency_Score,Monetary_Score
0,C001,Male,49,72504.0,Chicago,Northeast,10,98.241,3,Online,2022-03-05,Yes,3,2,2
1,C002,Female,38,40881.0,New York,West,15,157.640,4,In-store,2023-07-08,Yes,3,3,3
2,C003,Male,17,63333.0,New York,Northeast,1,41.252,1,Online,2023-01-30,No,4,4,4
3,C004,Male,34,58030.0,Chicago,Midwest,6,67.329,1,In-store,2023-06-01,No,2,2,2
4,C005,Male,30,78889.0,Houston,Midwest,3,52.763,1,Online,2022-09-23,No,1,1,1

In [18]:
pivot_table=data.pivot_table(index="Churn_Status",
                             values=["Recency","Frequency_Score","Monetary_Score"],
                             aggfunc={"Recency":"mean","Frequency_Score":"mean","Monetary_Score":"mean","Churn_Status":"count"})

In [19]:
pivot_table=pivot_table.rename(columns={"Churn_Status":"freq_churn","Recency":"mean_recency","Frequency_Score":"freq_sc_mean"
                                        ,"monetary_Score":"monetory_mean"})

In [20]:
pivot_table

              freq_churn  freq_sc_mean  Monetary_Score  mean_recency
Churn_Status
No                    45      2.688889        2.511111      2.644444
Yes                   56      2.482143        2.482143      2.589286