In [1]:
import pandas as pd

In [2]:
data =pd.read_excel("customer_data1.xlsx")

In [3]:
data

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
0,C001,Male,49,72504.0,Chicago,Northeast,10,9.824100e+01,3,Online,2022-03-05,Yes
1,C002,Female,38,40881.0,New York,West,15,1.576400e+02,4,In-store,2023-07-08,Yes
2,C003,Male,17,63333.0,New York,Northeast,1,4.125200e+01,1,Online,2023-01-30,No
3,C004,Male,34,58030.0,Chicago,Midwest,6,6.732900e+01,1,In-store,2023-06-01,No
4,C005,Male,30,78889.0,Houston,Midwest,3,5.276300e+01,1,Online,2022-09-23,No
...,...,...,...,...,...,...,...,...,...,...,...,...
75,C076,Male,44,59659.0,Houston,Midwest,14,1.345400e+02,4,Online,2023-12-25,Yes
76,C078,Male,30,76887.0,Houston,Midwest,7,8.081600e+01,2,Online,2022-11-14,No
77,C079,Female,42,56569.0,New York,West,11,1.342341e+07,3,In-store,2022-12-08,Yes
78,C080,Female,26,43931.0,Los Angeles,Northeast,9,9.153600e+01,2,In-store,2023-09-18,No
79,C021,Female,22,41743.0,Los Angeles,Northeast,4,5.459900e+01,1,Online,2023-06-08,No

In [13]:
sort_data=data.sort_values(by="Income",ascending=True)

In [14]:
sort_data

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
50,C051,Female,19,15531.0,Houston,Midwest,10,97.782,3,In-store,2022-09-24,Yes
23,C024,Male,54,27660.0,New York,Midwest,12,125.763,3,Online,2023-07-11,Yes
10,C011,Female,53,27958.0,Los Angeles,Midwest,10,98.449,3,In-store,2023-07-16,Yes
49,C050,Female,39,29104.0,NaN,Midwest,7,84.461,2,Online,2022-03-17,No
14,C015,Male,44,32500.0,New York,Northeast,9,96.473,3,Online,2023-03-30,No
...,...,...,...,...,...,...,...,...,...,...,...,...
58,C059,Female,46,NaN,Los Angeles,Midwest,8,86.207,2,Online,2022-04-14,No
63,C064,Male,30,NaN,Houston,West,10,107.919,3,In-store,2023-11-16,Yes
66,C067,Male,54,NaN,Houston,West,12,128.255,3,Online,2022-03-24,Yes
69,C070,Male,36,NaN,Chicago,Northeast,8,85.832,2,Online,2023-07-28,No
74,C075,Female,42,NaN,Los Angeles,Northeast,4,57.984,1,Online,2023-05-13,No