In [2]:
import pandas as pd

In [3]:
data =pd.read_excel("customer+performance+additional.xlsx")

In [5]:
round_data=round(data.describe())

In [6]:
round_data

,Age,Income,Frequency_of_Purchases,Average_Purchase_Amount,Recency,Frequency_Score,Monetary_Score
count,101.0,96.0,101.0,101.0,101.0,101.0,101.0
mean,35.0,58326.0,9.0,133001.0,3.0,3.0,2.0
std,10.0,19342.0,3.0,1335670.0,1.0,1.0,1.0
min,17.0,15531.0,1.0,37.0,1.0,1.0,1.0
25%,28.0,45182.0,7.0,76.0,2.0,2.0,2.0
50%,35.0,57300.0,10.0,97.0,3.0,3.0,2.0
75%,42.0,72726.0,12.0,120.0,4.0,4.0,3.0
max,54.0,107662.0,16.0,13423412.0,4.0,4.0,4.0

In [7]:
incosistent_Average_Purchase_Amount_value=round_data[round_data["Average_Purchase_Amount"]!=13423412.0]

In [8]:
incosistent_Average_Purchase_Amount_value

,Age,Income,Frequency_of_Purchases,Average_Purchase_Amount,Recency,Frequency_Score,Monetary_Score
count,101.0,96.0,101.0,101.0,101.0,101.0,101.0
mean,35.0,58326.0,9.0,133001.0,3.0,3.0,2.0
std,10.0,19342.0,3.0,1335670.0,1.0,1.0,1.0
min,17.0,15531.0,1.0,37.0,1.0,1.0,1.0
25%,28.0,45182.0,7.0,76.0,2.0,2.0,2.0
50%,35.0,57300.0,10.0,97.0,3.0,3.0,2.0
75%,42.0,72726.0,12.0,120.0,4.0,4.0,3.0