In [1]:
import pandas as pd

In [2]:
data =pd.read_excel("customer_data1.xlsx")

In [3]:
# booleand indexing filter
male_data=data[data["Gender"]=="Male"]

In [4]:
male_data

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
0,C001,Male,49,72504.0,Chicago,Northeast,10,98.241,3,Online,2022-03-05,Yes
2,C003,Male,17,63333.0,New York,Northeast,1,41.252,1,Online,2023-01-30,No
3,C004,Male,34,58030.0,Chicago,Midwest,6,67.329,1,In-store,2023-06-01,No
4,C005,Male,30,78889.0,Houston,Midwest,3,52.763,1,Online,2022-09-23,No
5,C006,Male,52,76470.0,Chicago,Midwest,11,117.012,3,Online,2022-11-30,Yes
7,C008,Male,38,38401.0,Houston,West,6,70.730,2,Online,2022-05-24,No
8,C009,Male,44,73105.0,Los Angeles,Northeast,12,124.887,3,Online,2022-09-02,Yes
14,C015,Male,44,32500.0,New York,Northeast,9,96.473,3,Online,2023-03-30,No
15,C016,Male,37,59214.0,Houston,Midwest,10,108.902,3,Online,2022-01-02,Yes
17,C018,Male,39,86730.0,New York,Midwest,11,118.579,3,Online,2022-03-06,Yes
18,C019,Male,32,41111.0,Los Angeles,West,14,133.229,4,Online,2023-07-19,Yes
19,C020,Male,28,37050.0,Los Angeles,Midwest,6,71.789,2,Online,2022-04-08,No
21,C022,Male,26,78988.0,Chicago,Midwest,7,76.826,2,In-store,2023-12-24,No
23,C024,Male,54,27660.0,New York,Midwest,12,125.763,3,Online,2023-07-11,Yes
24,C025,Male,27,45239.0,Los Angeles,West,12,127.888,3,In-store,2022-04-04,Yes
33,C034,Male,53,78203.0,Houston,Northeast,12,130.277,3,In-store,2023-06-05,Yes
34,C035,Male,28,50039.0,New York,West,7,75.568,2,Online,2022-09-14,No
35,C036,Male,23,43471.0,New York,West,5,65.357,1,Online,2022-08-12,No
38,C039,Male,43,51799.0,Houston,West,14,133.540,4,Online,2022-10-26,Yes
41,C042,Male,53,52616.0,Houston,Northeast,11,120.311,3,Online,2022-07-15,Yes
42,C043,Male,44,66344.0,Chicago,Midwest,12,130.562,3,In-store,2023-05-17,Yes
44,C045,Male,22,46979.0,NaN,West,8,86.904,2,Online,2022-12-29,No
45,C046,Male,44,59154.0,Chicago,West,15,152.291,4,Online,2022-12-07,Yes
48,C049,Male,49,58036.0,Los Angeles,West,12,129.524,3,Online,2022-11-24,Yes
53,C054,Male,31,51243.0,Houston,Northeast,7,73.408,2,Online,2023-09-26,No
57,C058,Male,18,39995.0,Houston,West,7,81.111,2,In-store,2022-04-12,No
59,C060,Male,35,82532.0,Houston,Midwest,6,68.405,1,Online,2022-10-16,No
60,C061,Male,24,53080.0,Los Angeles,West,16,193.046,5,In-store,2022-07-28,Yes
62,C063,Male,39,47127.0,New York,West,10,96.553,3,Online,2023-06-18,Yes
63,C064,Male,30,NaN,Houston,West,10,107.919,3,In-store,2023-11-16,Yes
64,C065,Male,31,50889.0,New York,West,9,94.469,2,Online,2022-07-29,No
66,C067,Male,54,NaN,Houston,West,12,128.255,3,Online,2022-03-24,Yes
69,C070,Male,36,NaN,Chicago,Northeast,8,85.832,2,Online,2023-07-28,No
72,C073,Male,28,73631.0,Los Angeles,West,9,90.344,2,In-store,2022-11-20,No
75,C076,Male,44,59659.0,Houston,Midwest,14,134.540,4,Online,2023-12-25,Yes
76,C078,Male,30,76887.0,Houston,Midwest,7,80.816,2,Online,2022-11-14,No

In [6]:
male_fre_data =male_data[male_data["Frequency_of_Purchases"]>5]

In [7]:
male_fre_data

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
0,C001,Male,49,72504.0,Chicago,Northeast,10,98.241,3,Online,2022-03-05,Yes
3,C004,Male,34,58030.0,Chicago,Midwest,6,67.329,1,In-store,2023-06-01,No
5,C006,Male,52,76470.0,Chicago,Midwest,11,117.012,3,Online,2022-11-30,Yes
7,C008,Male,38,38401.0,Houston,West,6,70.730,2,Online,2022-05-24,No
8,C009,Male,44,73105.0,Los Angeles,Northeast,12,124.887,3,Online,2022-09-02,Yes
14,C015,Male,44,32500.0,New York,Northeast,9,96.473,3,Online,2023-03-30,No
15,C016,Male,37,59214.0,Houston,Midwest,10,108.902,3,Online,2022-01-02,Yes
17,C018,Male,39,86730.0,New York,Midwest,11,118.579,3,Online,2022-03-06,Yes
18,C019,Male,32,41111.0,Los Angeles,West,14,133.229,4,Online,2023-07-19,Yes
19,C020,Male,28,37050.0,Los Angeles,Midwest,6,71.789,2,Online,2022-04-08,No
21,C022,Male,26,78988.0,Chicago,Midwest,7,76.826,2,In-store,2023-12-24,No
23,C024,Male,54,27660.0,New York,Midwest,12,125.763,3,Online,2023-07-11,Yes
24,C025,Male,27,45239.0,Los Angeles,West,12,127.888,3,In-store,2022-04-04,Yes
33,C034,Male,53,78203.0,Houston,Northeast,12,130.277,3,In-store,2023-06-05,Yes
34,C035,Male,28,50039.0,New York,West,7,75.568,2,Online,2022-09-14,No
38,C039,Male,43,51799.0,Houston,West,14,133.540,4,Online,2022-10-26,Yes
41,C042,Male,53,52616.0,Houston,Northeast,11,120.311,3,Online,2022-07-15,Yes
42,C043,Male,44,66344.0,Chicago,Midwest,12,130.562,3,In-store,2023-05-17,Yes
44,C045,Male,22,46979.0,NaN,West,8,86.904,2,Online,2022-12-29,No
45,C046,Male,44,59154.0,Chicago,West,15,152.291,4,Online,2022-12-07,Yes
48,C049,Male,49,58036.0,Los Angeles,West,12,129.524,3,Online,2022-11-24,Yes
53,C054,Male,31,51243.0,Houston,Northeast,7,73.408,2,Online,2023-09-26,No
57,C058,Male,18,39995.0,Houston,West,7,81.111,2,In-store,2022-04-12,No
59,C060,Male,35,82532.0,Houston,Midwest,6,68.405,1,Online,2022-10-16,No
60,C061,Male,24,53080.0,Los Angeles,West,16,193.046,5,In-store,2022-07-28,Yes
62,C063,Male,39,47127.0,New York,West,10,96.553,3,Online,2023-06-18,Yes
63,C064,Male,30,NaN,Houston,West,10,107.919,3,In-store,2023-11-16,Yes
64,C065,Male,31,50889.0,New York,West,9,94.469,2,Online,2022-07-29,No
66,C067,Male,54,NaN,Houston,West,12,128.255,3,Online,2022-03-24,Yes
69,C070,Male,36,NaN,Chicago,Northeast,8,85.832,2,Online,2023-07-28,No
72,C073,Male,28,73631.0,Los Angeles,West,9,90.344,2,In-store,2022-11-20,No
75,C076,Male,44,59659.0,Houston,Midwest,14,134.540,4,Online,2023-12-25,Yes
76,C078,Male,30,76887.0,Houston,Midwest,7,80.816,2,Online,2022-11-14,No

In [9]:
# Query method
male_churn_status = male_data.query("Churn_Status == 'Yes'")

In [10]:
male_churn_status

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
0,C001,Male,49,72504.0,Chicago,Northeast,10,98.241,3,Online,2022-03-05,Yes
5,C006,Male,52,76470.0,Chicago,Midwest,11,117.012,3,Online,2022-11-30,Yes
8,C009,Male,44,73105.0,Los Angeles,Northeast,12,124.887,3,Online,2022-09-02,Yes
15,C016,Male,37,59214.0,Houston,Midwest,10,108.902,3,Online,2022-01-02,Yes
17,C018,Male,39,86730.0,New York,Midwest,11,118.579,3,Online,2022-03-06,Yes
18,C019,Male,32,41111.0,Los Angeles,West,14,133.229,4,Online,2023-07-19,Yes
23,C024,Male,54,27660.0,New York,Midwest,12,125.763,3,Online,2023-07-11,Yes
24,C025,Male,27,45239.0,Los Angeles,West,12,127.888,3,In-store,2022-04-04,Yes
33,C034,Male,53,78203.0,Houston,Northeast,12,130.277,3,In-store,2023-06-05,Yes
38,C039,Male,43,51799.0,Houston,West,14,133.540,4,Online,2022-10-26,Yes
41,C042,Male,53,52616.0,Houston,Northeast,11,120.311,3,Online,2022-07-15,Yes
42,C043,Male,44,66344.0,Chicago,Midwest,12,130.562,3,In-store,2023-05-17,Yes
45,C046,Male,44,59154.0,Chicago,West,15,152.291,4,Online,2022-12-07,Yes
48,C049,Male,49,58036.0,Los Angeles,West,12,129.524,3,Online,2022-11-24,Yes
60,C061,Male,24,53080.0,Los Angeles,West,16,193.046,5,In-store,2022-07-28,Yes
62,C063,Male,39,47127.0,New York,West,10,96.553,3,Online,2023-06-18,Yes
63,C064,Male,30,NaN,Houston,West,10,107.919,3,In-store,2023-11-16,Yes
66,C067,Male,54,NaN,Houston,West,12,128.255,3,Online,2022-03-24,Yes
75,C076,Male,44,59659.0,Houston,Midwest,14,134.540,4,Online,2023-12-25,Yes

In [15]:
# Is in method for filtering prsence of value
male_churn_status_with_city=male_churn_status[male_churn_status["City"].isin(["Chicago"])]

In [16]:
male_churn_status_with_city

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
0,C001,Male,49,72504.0,Chicago,Northeast,10,98.241,3,Online,2022-03-05,Yes
5,C006,Male,52,76470.0,Chicago,Midwest,11,117.012,3,Online,2022-11-30,Yes
42,C043,Male,44,66344.0,Chicago,Midwest,12,130.562,3,In-store,2023-05-17,Yes
45,C046,Male,44,59154.0,Chicago,West,15,152.291,4,Online,2022-12-07,Yes

In [17]:
male_churn_status_with_city=male_churn_status[male_churn_status["City"].isin(["Chicago","New York"])]

In [18]:
male_churn_status_with_city

,CustomerID,Gender,Age,Income,City,Region,Frequency_of_Purchases,Average_Purchase_Amount,Customer_Lifespan_Months,Purchase_Channel,Date_of_Purchase,Churn_Status
0,C001,Male,49,72504.0,Chicago,Northeast,10,98.241,3,Online,2022-03-05,Yes
5,C006,Male,52,76470.0,Chicago,Midwest,11,117.012,3,Online,2022-11-30,Yes
17,C018,Male,39,86730.0,New York,Midwest,11,118.579,3,Online,2022-03-06,Yes
23,C024,Male,54,27660.0,New York,Midwest,12,125.763,3,Online,2023-07-11,Yes
42,C043,Male,44,66344.0,Chicago,Midwest,12,130.562,3,In-store,2023-05-17,Yes
45,C046,Male,44,59154.0,Chicago,West,15,152.291,4,Online,2022-12-07,Yes
62,C063,Male,39,47127.0,New York,West,10,96.553,3,Online,2023-06-18,Yes