In [1]:
import pandas as pd

In [4]:
data = pd.read_excel("customer_data1.xlsx")

In [5]:
#loc mehthods 
first_3_rows= data.loc[0:2,["Income"]]

In [6]:
first_3_rows

    Income
0  72504.0
1  40881.0
2  63333.0

In [13]:
#iloc mehthods 
first_three_rows= data.iloc[0:3,0:3]

In [14]:
first_three_rows

  CustomerID  Gender  Age
0       C001    Male   49
1       C002  Female   38
2       C003    Male   17